<h1 style= "color:teal; text-align:center; font-family:Roboto;">eDOT</h1>
<!-- Accent-colored raised button with ripple -->
<p class="mdl-typography--text-center">
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--teal-400 mdl-color-text--cyan-50">
  Sign up
</button>

<!-- Accent-colored flat button -->
<button class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--teal-900 mdl-button--size-40x40px">
  Login
</button>
