</br>
</br>
</br>
</br>
</br>
<div><h1 style= "color:teal; text-align:center; font-family:Roboto; font-size:90px">e<strong>DOT</strong></h1></div>
<br/>
<!-- Accent-colored raised button with ripple -->
<p class="mdl-typography--text-center">
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--teal-400 mdl-color-text--cyan-50">
    &nbsp; &nbsp; &nbsp;   Sign up &nbsp; &nbsp; &nbsp;
</button>

<!-- Accent-colored flat button -->
<button class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--teal-900">
      &nbsp; &nbsp; &nbsp;  login &nbsp; &nbsp; &nbsp;
</button>
