<h1 style= "color:teal; font-family:Roboto; font-size:50px">Editing patient</h1>
  <%= render 'form', patient: @patient, form_type: "Edit" %>

  <%= link_to 'Show', @patient %> |
  <%= link_to 'Back', patients_path %>
