<h1>Editing Community Health Worker</h1>

<%= render 'form', community_health_worker: @community_health_worker %>

<%= link_to 'Show', @community_health_worker %> |
<%= link_to 'Back', community_health_workers_path %>
