/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material.min
 *= require getmdl-select.min
 *= require alertify.core
 *= require alertify.default
 *= require mdl-floating-button


 */
 body{
   background-size: cover;
   background-attachment: fixed;
   margin: 0;

 }
 table, td, th {
   width: 2%;
 }

 table tr td a {
   display:block;
   height:100%;
   width:100%;
 }
 li {
    list-style-type: none;
}


 h1{
  color:teal;
  font-family:Roboto;
  font-size:50px;
  text-align: center;
 }

 h2{
  color:teal;
  font-family:Roboto;
 }

 table {
   margin-bottom: 80px;
   width: 100%;
 }

#add_button{
  margin: -50px 0px 0px 20px;
}

#search_button{
  margin-left:124px;
}


/* visited link */
a:link, a:visited, a:hover, a:active{
    color: teal;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
  }

#floating-button-link{
color: #E0F7FA;

}

#form_button{
  width: auto;
  display:inline-block;
  margin-bottom: 20px;
  margin-right: 30px;
}

#buttons_div{
    text-align: left;
}


.bottom-right-fixed {
  position:fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9;
}

#remember_me{
  text-align: center;
  margin-right: 0.5em;
  width: 11em;
}

.page_content_div{
  width: 100%;
  max-width: 850px;
  text-align: left;
  margin-left: auto ;
  margin-right: auto ;
}

.field_with_errors input {
  border: 2px solid red;
  background-color: transparent;
}
