<h1>Health Centers</h1>
<div style = "overflow-x:auto;">
  <table class = "sortable mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--cyan-50">
    <thead>
      <tr>
        <% %w(Name Address Phone).each do |col_name| %>
          <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50"><%= col_name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @health_centers.each do |health_center| %>
        <tr>
          <% [health_center.name, health_center.address, health_center.phone].each do |field| %>
            <td class="mdl-data-table__cell--non-numeric"><%= link_to field, health_center %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div>
  <%= link_to new_health_center_path, :class => "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
