<ul class="mdl-list">
  <% { "Name" => @health_center.name, "Address" => @health_center.address, "Phone" => @health_center.phone }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
<%= link_to edit_health_center_path(@health_center) do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50" id="show_button">
      <i class="material-icons">mode_edit</i>
  </button>
<% end %>

<%= link_to health_center_url(@health_center), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--red mdl-color-text--cyan-50" id="show_button">
      <i class="material-icons">delete</i>
  </button>
<% end %>
